@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(-300%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes leave {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(-300%);
  }
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
